footer {
    height: 10rem;
    background-color: var(--secondary-color-600);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2rem;
}

footer nav {
    width: max-content;
}

footer nav a {
    color: var(--neutral-color);
    text-decoration: none;
    margin: 0px 1rem;
    height: 2rem;
}

footer nav a:hover {
    border-bottom: solid 2px var(--primary-color)
}

#emailForm input::placeholder,
#emailForm textarea::placeholder {
    color: var(--surface-color);
}

#emailForm input

.primary-button{
    font-weight: bold;
    border-radius: 1rem;
    border: none;
    padding: 2.5% 5%;
    color: var(--neutral-color);
    background: var(--primary-color-300);
}

.primary-button:hover {
    background: linear-gradient(135deg, #7F66FF 0%, #AA99FF 100%);
}